Source/Pash.ConfigurationSection/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="http://pash.sourceforge.net/pash/configuration" elementFormDefault="qualified" targetNamespace="http://pash.sourceforge.net/pash/configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="defaultExecutionContext" type="tns:Pash.Configuration.ExecutionContextConfigurationSectionCT" />
	<xs:complexType name="Pash.Configuration.AliasElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="definition" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The definition.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="scope" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The scope.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Pash.Configuration.VariableElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="scope" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The scope.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Pash.Configuration.ExecutionContextConfigurationSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="psSnapins" type="tns:Pash.Configuration.PSSnapinCollectionCT">
				<xs:annotation>
					<xs:documentation>The PSSnapins.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="functions" type="tns:Pash.Configuration.FunctionsCollectionCT">
				<xs:annotation>
					<xs:documentation>The Functions.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="aliases" type="tns:Pash.Configuration.AliasesCollectionCT">
				<xs:annotation>
					<xs:documentation>The Aliases.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="variables" type="tns:Pash.Configuration.VariablesCollectionCT">
				<xs:annotation>
					<xs:documentation>The Variables.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Pash.Configuration.FunctionElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="type" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="scope" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The scope.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Pash.Configuration.FunctionsCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="function" type="tns:Pash.Configuration.FunctionElementCT">
				<xs:annotation>
					<xs:documentation>The FunctionElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Pash.Configuration.AliasesCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="alias" type="tns:Pash.Configuration.AliasElementCT">
				<xs:annotation>
					<xs:documentation>The AliasElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Pash.Configuration.VariablesCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="variable" type="tns:Pash.Configuration.VariableElementCT">
				<xs:annotation>
					<xs:documentation>The VariableElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Pash.Configuration.PSSnapinCollectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="psSnapin" type="tns:Pash.Configuration.PSSnapinElementCT">
				<xs:annotation>
					<xs:documentation>The PSSnapinElement Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Pash.Configuration.PSSnapinElementCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="type" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The type.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
